<%= render 'layouts/header' %>
<div class="row">
  <div class="col-md-4">
    <%= @user.name %>
    <%= image_tag @user.picture.url if @user.picture? %>
    <%= @user.email %>
    <p>投稿数<%= @user.microposts.count %></p>
  </div>

  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <ol class="microposts"> 
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>


