<%= render 'layouts/header' %>

<% if logged_in? %>
  <div class="row">
    <div class="col-md-6">
      <section>
        <%= form_for(@micropost) do |f| %>
          <%= f.text_field :title, placeholder: "タイトル" %>
          <%= f.text_area :content, placeholder: "あなたが考えるifを投稿してみよう" %>
          <div class="field">
            <div class="micropost-tags-field">
              <%= f.label "カテゴリー" %>
              <ul id="micropost-tags">
              </ul>
            </div>
          </div>

          <%= f.submit "投稿", class: "btn btn-primary" %>
        <% end %>
      </section>
      <section>
        <%= link_to current_user.name, user_path(current_user) %>
        <p>投稿数<%= current_user.microposts.count %></p>
      </section>
    </div>
  </div>
<% else %>
  <h1>ようこそif_appへ</h1>
<% end %>