<%= @micropost.id %><br>
<%= @micropost.title %><br>
<%= @micropost.user_id %><br>
<%= @micropost.content %><br>
<ul>
  <% @micropost.categories.each do |ct| %>
    <li>
      <%= ct.name %>
    </li>
  <% end %>
</ul>